/* Space out content a bit */
body {
  margin: 0px;
}
.spreadsheet-container
{
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
table
{
    font-size: 13px;
    table-layout: fixed;
    border-collapse: separate;
    border-style: none;
    border-spacing: 0;
    cursor: default;
}
tr
{
    height: 17px;
}
td
{
    border-width: 0 1px 1px 0;
    white-space: normal;
    overflow: hidden;
    border: 1px #ccc solid;
    border-color: rgba(0,0,0,0.2);
    border-width: 0 1px 1px 0;
    vertical-align: bottom;
    line-height: inherit;
    background-color: #fff;
    padding: 0 3px;
}

td.active
{
    border: 1px solid #5292f7;
}
