*, *:before, *:after
{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font: normal 13px arial,sans-serif;
}
.spreadsheet-container
{
    background-color: #f3f3f3;
    position: relative;
    z-index: 0;
}
table
{
    font-size: 13px;
    table-layout: fixed;
    border-collapse: separate;
    border-style: none;
    border-spacing: 0;
    cursor: default;
}
tr
{
    height: 17px;
}
th.header-shim
{
    vertical-align: middle;
    font-size: 8pt;
    color: #222;
    height: 23px;
    border: solid 1px #ccc;
    border-width: 0 1px 1px 0;
    overflow: hidden;
    padding: 0;
    min-width: 130px;
}
th.first
{
    border: solid 1px #ccc;
    border-width: 0 1px 1px 0;
}
th.header-shim,
td.row-header-shim
{
    background: #f3f3f3;
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    font-size: 8pt;
}
td.row-header-shim
{
    min-width: 45px;
}
td
{
    border-width: 0 1px 1px 0;
    white-space: normal;
    overflow: hidden;
    border: 1px #ccc solid;
    border-color: rgba(0,0,0,0.2);
    border-width: 0 1px 1px 0;
    vertical-align: bottom;
    line-height: inherit;
    background-color: #fff;
    padding: 0 3px;
}

td.active
{
    border: 1px solid #5292f7;
}
.cell-input-box
{
    position: absolute;
    top: -1000px;
    border: 2px #5292f7 solid;
    padding: 0 2px;
    margin: 0; 
    z-index: 15; 
    resize: none; 
    overflow: auto; 
    white-space: pre-wrap; 
    outline: none; 
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.4); 
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    word-wrap: break-word;
    background: white;
    font: normal normal 400 13px arial,sans,sans-serif;
    text-align: left;
}
.cell-input
{
    border: 0;
    margin: 0;
    padding: 1px 0px 0px 1px;
    font: normal 13px arial,sans-serif;
    width: 100%;
    height: 100%;
    outline: none;
    white-space: pre-wrap;
    max-width: 592px;
    max-height: 80px;
    min-width: 114px;
    min-height: 14px;
}
