<table>
    <thead>
        <tr>
            <th colspan={{colls}}>
                <div data-ng-include="headerUrl"></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td data-bindonce data-ng-repeat="col in range(0, cols)">{{colLetter(col)}}</td>
        </tr>
        <tr data-bindonce data-ng-repeat="row in range(1, rows)">
            <td class="row-header">{{row}}</td>
            <td data-bindonce data-ng-repeat="col in range(0, cols)" data-u-cell></td>
        </tr>
    </tbody>
    <cell-range></cell-range>
    <cell-input></cell-input>
</table>
