<div id="toolbar-box"></div>
<div id="formula-box">
    <table>
        <tr>
            <td class="fx">Fx</td>
            <td class="formula">
                <div><input type="text" class="formula-input" data-ng-model="data.activeValue" /></div>
            </td>
        </tr>
    </table>
</div>
<div class="spreadsheet-container">
    <table cellspacing="0" cellpadding="0" class="spreadsheet">
        <thead>
            <tr>
                <th class="first"></th>
                <th class="header-shim" data-bindonce data-ng-repeat="col in range(0, cols)">{{colLetter(col)}}</th>
            </tr>
        </thead>
        <tbody>
            <tr data-bindonce data-ng-repeat="row in range(1, rows)">
                <td class="row-header-shim">{{row}}</td>
                <td data-bindonce data-ng-repeat="col in range(0, cols)" data-cell></td>
            </tr>
        </tbody>
    </table>
    <cell-select></cell-select>
    <cell-input></cell-input>
</div>
